<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HealtheeServerMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HealtheeServerMonitor.Properties.Settings>
            <setting name="LogFile" serializeAs="String">
                <value>C:\Logs\healthmonitor.log</value>
            </setting>
            <setting name="serveraddress" serializeAs="String">
                <value>http://keshav-server-vm.cloudapp.net</value>
            </setting>
        </HealtheeServerMonitor.Properties.Settings>
    </userSettings>
</configuration>